.profile__form-close {
  position: absolute;
  margin: 155px 0 0 480px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-color: #0000;
  background-position: center;
  background-size: cover;
  border: none;
  padding: 0;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}

.profile__form-close:hover {
  opacity: 0.6;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}
@media screen and (max-width: 767px) {
  .profile__form-close {
    position: absolute;
    margin: 87px 0 0 260px;
    width: 20px;
    height: 20px;
  }
}
