.popup__save {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  width: 358px;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}
.popup__save:hover {
  opacity: 0.8;
  transition: opacity 0.5s, visibility 0s linear 0.5s;
}
@media screen and (max-width: 767px) {
  .popup__save {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
  }
}
