.profile__form {
  position: fixed;
  left: 0;
  top: 0;
<<<<<<< Updated upstream:blocks/profile/profile__form/profile__form.css
  padding-top: 195px;
=======
  left: 0;
>>>>>>> Stashed changes:blocks/popup/popup.css
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
  height: 100%;
  pointer-events: all;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 767px) {
  .profile__form {
    padding-top: 3px;
  }
}
