.popup-image__img {
  object-fit: contain;
  object-position: center;
  border-radius: 0px;
  max-width: 75vw;
  max-height: 75vw;
}
@media screen and (max-width: 3439px) {
  .popup-image__img {
    max-width: 35vw;
    max-height: 35vw;
  }
}
@media screen and (max-width: 2559px) {
  .popup-image__img {
    max-width: 45vw;
    max-height: 45vw;
  }
}
@media screen and (max-width: 1919px) {
  .popup-image__img {
    max-width: 55vw;
    max-height: 55vw;
  }
}
@media screen and (max-width: 1439px) {
  .popup-image__img {
    max-width: 65vw;
    max-height: 65vw;
  }
}
@media screen and (max-width: 1279px) {
  .popup-image__img {
    max-width: 75vw;
    max-height: 75vw;
  }
}
@media screen and (max-width: 767px) {
  .popup-image__img {
    max-width: 85vw;
    max-height: 85vw;
  }
}
@media screen and (max-width: 320px) {
  .popup-image__img {
    max-width: 95vw;
    max-height: 95vw;
  }
}
